<template>
  <div class="container">
  
    <header>
  
      <div class="row">
  
        <h1 class="header teal-text text-lighten-2 col s12"><img src="../assets/logo.png" alt="" class="logo">Shopping List
  
        </h1>
  
      </div>
  
    </header>
  
  
  
    <content>
  
<section>
    <div v-if="loading" class="progress">
        <div class="indeterminate"></div>
    </div>
</section>

      <section>
  
        <nav class="nav-extended transparent">
  
          <div class="nav-content">
  
            <ul class="left hide-on-med-and-down">
  
              <li><a class="btn" :class="{pressed: shopFilter=='all'}" @click="shopFilter = 'all'">All <span class="teal accent-4 badge white-text">
  
                      {{ shopItems.length }}</span></a></li>
  
              <li><a class="btn" :class="{pressed: shopFilter=='buy'}" @click='shopFilter = "buy"'>Buy <span class="teal accent-4 white-text badge">
  
                      {{ remaining }} </span></a></li>
  
              <li><a class="btn" :class="{pressed: shopFilter=='bought'}" @click="shopFilter = 'bought'">Bought <span
  
                      class="teal accent-4 white-text badge">
  
                      {{ countBought }}</span></a></li>
  
            </ul>
  
          </div>
  
        </nav>
  
      </section>
  
  
  
  
  
      <section>
  
        <form novalidate="true" @submit.prevent="addItem">
  
  
  
          <div class="row">
  
            <input class="input-field shop-input validate col s12" 
            @blur="error = ''"
            :class="[error ? errorClass : 'valid']" 
            v-on:animationend="removeAnimation" type="text" 
            v-model="newItem" 
            placeholder="Type in item to be added">
  
          </div>
  
          <div class="row" v-if="error">
  
            <span class="helper-text error">{{ error }}</span>
  
          </div>
  
        </form>
  
      </section>
  
  
  
  
  
      <section>
  
        <transition-group name="slide" enter-active-class="animated fadeInUp faster" leave-active-class="animated fadeOutDown faster">
  
          <div v-for="(item,index) in filteredItems" :item="item" :index="index" :key="item._id" class="collection shop-item">
  
            <a href="#!" class="collection-item shop-item-label" :class="{done: item.done}" @click="toggleBought(item)">
  
                {{ item.name }} 
  
                <span class="material-icons right close-button" @click.prevent="removeItem(item._id)">delete</span>
  
              </a>
  
          </div>
  
        </transition-group>
  
      </section>
  
  
  
      <div class="divider"></div>
  
      <section class="control-section">
  
        <div class="row">
  
          <button class="btn" @click="checkAllItems">Check all</button>
  
          <button class="btn align-center" @click="removeAllBought" v-if="countBought > 0">Remove bought</button>
  
          <span class="right">{{ remaining }} items left</span>
  
        </div>
  
      </section>
  
    </content>
  
  
  
  </div>
</template>

<script>
  import TodoService from '../services/TodoService';
  export default {
    data: function() {
      return {
        shopItems: [],
        error: '',
        shopFilter: 'all',
        newItem: '',
        loading: false,
        errorClass: {
          'invalid': true,
          'animated': true,
          'shake': true,
          'faster': true,
          'error': true,
        },
      }
    },
  
  // lifecycle method to call on when view is created
    created() {
      this.loading = true;
      this.getItems();
      this.loading = false;
    },
    watch: {
      handler: function(shopItems) {
        this.loading = true;
        this.getItems();
        this.loading = false;
      }
    },
  
    methods: {
      // Checking valid input and applying error classes on input field on errors
      checkInput() {
        let valid = true;
        // check for empty items
        if (!this.newItem) {
          this.error = "Item name is required.";
          valid = false;
        }
        // Only alphanumeric characters allowed
        let validReg = /^[a-z0-9åöä]+$/i;
        if (!validReg.test(this.newItem)) {
          this.error = "Only alphanumeric characters are allowed!"
          valid = false;
        }
        // Apply shake animation on the input 
        if (!valid) {
          document.querySelector(".shop-input").classList.add('shake');
          return false;
        }
        this.error = "";
        return true;
      },
      async getItems() {
        try {
        let items = await TodoService.fetchTodos();
        this.shopItems = items.data;
        } catch (err) {
          this.err = err.message;
        }
        },
  
      async addItem() {
        if (this.checkInput()) {
          try {
            this.loading = true;
            await TodoService.addTodo(this.newItem)
            this.getItems();
          } catch(err) {
          this.error = err.message;
          } finally {
            this.loading = false;
            this.newItem = "";
          }
        }
        },
      async removeItem(id) {
        event.stopPropagation();
        try {
          this.loading = true;
          await TodoService.deleteTodo(id);
          this.getItems();
        } catch(err) {
          this.error = err.message;
        } finally {
          this.loading = false;
        }
      },
  
      async toggleBought(item) {
        try {
          this.loading = true;
          let params = {
            id: item._id,
            done: !item.done
          };
          await TodoService.updateTodo(params);
          this.getItems();
        }
        catch(err)  {
          this.error = err.message;
        } finally {
          this.loading = false;
        }
      },
  
  
      async checkAllItems() {
        try {
        this.loading = true;
        let checked = this.anyRemaining ? false : true;
        await Promise.all(this.shopItems.map(async (item) => {
          let params = {
            id: item._id,
            done: checked
          };
          TodoService.updateTodo(params);
        }));
        this.getItems();
        } catch(err) {
          this.error = err.message;
        } finally {
          this.loading = false;
        }
        },
  
      async removeAllBought() {
        try {
          this.loading = true;
          let items = this.shopItems.filter(item => item.done);
          await Promise.all(items.map(async (item) => {
            TodoService.deleteTodo(item._id);
          }));
        this.getItems();
        this.loading = false;
        } catch(err) {
          this.error = err.message;
        } finally {
          this.loading = false;
        }
      },
      removeAnimation(event) {
        let item = event.target;
        item.classList.remove("shake");
      },
  
  
  
    },
  
    computed: {
  
      remaining() {
  
        return this.shopItems.filter((item) => !item.done).length;
  
      },
  
      anyRemaining() {
  
        return this.remaining == 0;
  
      },
  
      filteredItems() {
  
        if (this.shopFilter === 'all') {
  
          return this.shopItems;
  
        } else if (this.shopFilter == 'buy') {
  
          return this.shopItems.filter((item) => !item.done);
  
        } else {
  
          return this.shopItems.filter((item) => item.done);
  
        }
  
      },
  
      countBought() {
  
        return this.shopItems.filter((item) => item.done).length;
  
      },
  
    }
  
  
  
  
  
  }
</script>

<style lang="scss">
  @import "../../node_modules/materialize-css/dist/css/materialize.css";
  
  @import "../../node_modules/materialize-css/sass/components/_color-variables.scss";
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
  
  .shop-input {
  
    font-size: 26px !important;
  
    margin-top: 20px !important;
  
  }
  
  
  
  .helper-text,
  
  .error {
  
    margin-bottom: 10px !important;
  
  }
  
  
  
  .shop-item {
  
    margin: 0;
  
    animation-duration: 0.3s;
  
  }
  
  
  
  .close-button {
  
    cursor: pointer;
  
    &:hover {
  
      color: red;
  
    }
  
  }
  
  
  
  .logo {
  
    display: inline-flex;
  
    vertical-align: bottom;
  
    height: 90px;
  
    padding: 0 !important;
  
    margin: 0 !important;
  
  }
  
  
  
  .done {
  
    text-decoration: line-through;
  
    color: lightgray !important;
  
  }
  
  
  
  .error {
  
    color: red;
  
  }
  
  
  
  .helper-text {
  
    margin: 0;
  
  }
  
  
  
  .divider {
  
    margin-top: 30px !important;
  
  }
  
  
  
  .control-section {
  
    margin-top: 20px !important;
  
  }
  
  
  
  .pressed {
  
    background-color: color("teal", "darken-2");
  
  }
  
  
  
  .badge {
  
    border-radius: 15px;
  
  }
</style>
